#root {
    margin: 0 auto;
    text-align: center;
}

.navbar-sticky {
    position: fixed;
    width: -webkit-fill-available;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        animation: logo-spin infinite 20s linear;
    }
}

.card {
    padding: 2em;
}

.read-the-docs {
    color: #888;
}

h2 {
    font-size: 20px !important;
}

h1 {
    font-size: 22px !important;
}

h4 {
    font-size: 16px !important;
    color: #3c3f42;
}

.badge {
    padding: 6px 10px !important;
    font-size: 14px;
    font-weight: 500;
}

.bg-instock {
    background-color: #90D26D;
    color: white;
}

.bg-sold {
    background-color: #ee6055;
    color: white;
}

.car-price {
    color: #00b4d8;
    font-weight: 800;
}

.boundary {
    border-left: 1px solid #dde0e4;
}

.button.loadmore {
    color: #222831;
    background-color: #DDDDDD;
}

button:hover {
    border-color: transparent !important;
}

button[disabled].loadmore {
    color: #B4B4B8;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}